img {
    max-height: 400px;
    max-width: 400px;
}
.item {      
    display: flex;
    justify-content: space-around;
    align-items: center;
    .desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        form {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }
}