.container {    
    img {
        max-height: 400px;
        max-width: 400px;
    }
    .item {
        min-height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            form {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        }
    }
    
}